.computerMenu h1 {
  font-size: 13px;
  font-weight: bold;
}

.computerMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.computerMenu ul li {
  font-size: 15px;
  font-weight: 100;
  margin-left: 5px;
  padding: 0;
  text-align: left;
  position: relative;
}

.computerMenu span {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}