.labDetails {
  z-index: 999999999999 !important;
  position: relative;
  border-radius: 0;
  width: 150px;
  left: -40px;
  margin: 0;
}

.labDetails h2 {
  font-size: 13px;
  font-weight: bold;
  margin-left: 110px;
  display: inline-block;
}

.labDetails h1 {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 40px;
  margin-left: 0;
  margin-right: 0;
}

.labDetails ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.labDetails ul li {
  font-size: 10px;
  font-weight: 100;
  margin-left: 40px;
  padding: 0;
  text-align: left;
  position: relative;
}

.labCompIcons {
  margin-top: 10px;
  width: 100%;
}

.labCompIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  border: 1px solid transparent;
  cursor: pointer;
}

.labCompIcon:hover {
  border: 1px solid black;
}

.off {
  background-color: gray;
}

.on {
  background-color: green;
}

.used {
  background-color: red;
}

.labUsedMessage {
  font-size: 8px !important;
  font-weight: bold !important;
  color: red;
}

.computerNo {
  font-size: 15px;
  color: black;
  font-weight: bold;
  position: relative;
  top: 1px;
}

.lab2041 {
  background-color: #FF4136;
}

.lab2042 {
  background-color: #B10DC9;
}

.lab2043 {
  background-color: #FF851B;
}

.lab2044 {
  background-color: brown;
}

.lab2045 {
  background-color: #FFDC00;
}

.lab3041 {
  background-color: #3D9970;
}

.lab3042 {
  background-color: #2ECC40;
}

.lab3043 {
  background-color: #7FDBFF;
}

.lab3044 {
  background-color: #0074D9;
}

.lab3045 {
  background-color: #85144b;
}