.tooltip {
  z-index: 9999999999 !important;
}

.lab {
  width: 63px;
  height: 84px;
  border: 1px solid transparent;
  cursor: pointer;
}

.lab:hover {
  border: 1px solid black;
  z-index: 9;
  font-weight: bold;
}

.labLabel {
  font-family: 'Tajawal';
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 10px;
  color: black;
  z-index: 10;
}

.labIsUsedBadge {
  font-family: 'Tajawal';
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 15px;
  left: 30px;
  color: white;
  z-index: 10;
  background-color: red;
  border-radius: 3px;
  /* width: 50px; */
  height: 20px;
  margin-top: 2px;
  overflow: hidden;
}

.labIsUsedTimeBadge {
  font-family: 'Tajawal';
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 15px;
  left: 30px;
  color: white;
  z-index: 10;
  background-color: red;
  border-radius: 3px;
  /*width: 50px;*/
  height: 20px;
  margin-top: 2px;
  overflow: hidden;
}


.labTimeBadge {
  font-family: 'Tajawal';
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 15px;
  left: 30px;
  color: white;
  z-index: 10;
  background-color: blue;
  border-radius: 3px;
  /*width: 50px;*/
  height: 20px;
  margin-top: 2px;
}

.labStandsBadge {
  font-family: 'Tajawal';
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 15px;
  left: 30px;
  color: white;
  z-index: 10;
  background-color: green;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.labLeft {
  position: absolute;
  top: 89px;
  left: 41px;
}

.labRight {
  position: absolute;
  top: 89px;
  left: 169px;
}

.labUpper {
  position: absolute;
  top: 4px;
  left: 105px;
}

.labUpperLeft {
  position: absolute;
  top: 4px;
  left: 41px;
}

.labUpperRight {
  position: absolute;
  top: 4px;
  left: 169px;
}

.labUsed {
  background-color: gray !important;
}

.lab2041 {
  background-color: #FF4136;
}

.lab2042 {
  background-color: #B10DC9;
}

.lab2043 {
  background-color: #FF851B;
}

.lab2044 {
  background-color: brown;
}

.lab2045 {
  background-color: #FFDC00;
}

.lab3041 {
  background-color: #3D9970;
}

.lab3042 {
  background-color: #2ECC40;
}

.lab3043 {
  background-color: #7FDBFF;
}

.lab3044 {
  background-color: #0074D9;
}

.lab3045 {
  background-color: #85144b;
}