.statsView {
  font-family: 'Tajawal';
  position: relative;
  top: 10px;
  left: 10px;
  margin-bottom: 20px;
}

.statsView p {
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 10px;
}

.buttons {
  float: right;
  position: relative;
  right: 50px;
  margin-bottom: 30px;
  z-index: 999999999 !important;
}

.buttons button {
  background: #80808036;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.buttons button:hover {
  background: #0000004f;
  color: white;
  font-weight: bold;
}