.usersTableWrapper {
  margin-top: 200px;
  margin-bottom: 20px;
}

.usersTable {
  width: 100%;
}

.usersTable tr {
  background: #eaeaea;
  font-family: 'Tajawal';
}

.usersTable tr td {
  padding-left: 20px;
}

.usersTable tr:hover {
  background: gray;
  color: white;
}

.user {
  font-weight: bold;
}

.lab {
  color: white;
  font-weight: bold;
}

.lab2041 {
  background-color: #FF4136;
}

.lab2042 {
  background-color: #B10DC9;
}

.lab2043 {
  background-color: #FF851B;
}

.lab2044 {
  background-color: brown;
}

.lab2045 {
  background-color: #FFDC00;
}

.lab3041 {
  background-color: #3D9970;
}

.lab3042 {
  background-color: #2ECC40;
}

.lab3043 {
  background-color: #7FDBFF;
}

.lab3044 {
  background-color: #0074D9;
}

.lab3045 {
  background-color: #85144b;
}