@font-face {
 font-family: 'Tajawal';
 font-style: normal;
 src: url('chrome-extension://__MSG_@@extension_id__/fonts/Tajawal-Light.ttf'); 
}

.normal {
  background: #fff;
  position: relative;
  user-select: none;
}

.normal h1 {
  font-family: 'Tajawal';
  position: absolute;
  top: -30px;
  width: 100%;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  margin-left: 20px;
  color: gray;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
